<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hy.client">

    <uses-permission android:name="com.hy.GET_ACCOUNT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LayerDrawableActivity" />
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/backgroundTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ContentPCActivity" />
        <activity android:name=".LoadJPEGActivity" />
        <activity android:name=".ViewStubActivity" /> <!-- 使用url外部链接打开的Activity -->
        <activity android:name=".AppLinkActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="hyclient" />
            </intent-filter>
        </activity> <!-- 生成二维码 -->
        <activity
            android:name=".QRCodeActivity"
            android:label="二维码" /> <!-- qq分享 -->
        <activity android:name=".QQShareActivity" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- 测试appid -->
                <data android:scheme="tencent222222" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".CanvasActivity" />
        <activity android:name=".TouchEventActivity" />
        <activity android:name=".LottieActivity" />
        <activity android:name=".ViewActivity" />
        <activity android:name=".NfcActivity" />
        <activity
            android:name=".WebActivity"
            android:label="测试打开web"
            android:theme="@style/webTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MONKEY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".X5WebActivity"
            android:label="测试打开web x5"
            android:theme="@style/webTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ViewPagerActivity" />
        <activity android:name=".OkhttpActivity" />
        <activity
            android:name=".SurfaceViewActivity"
            android:label="SurfaceViewActivity测试"
            android:theme="@style/notTitleTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InfiniteActivity" />

        <receiver
            android:name=".FastStartBroadcast"
            android:exported="true">
            <intent-filter>
                <action android:name="com.hy.client.fast_start" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>